In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Dataset_for_Final_Project.csv to Dataset_for_Final_Project.csv
Saving SelectedStateRankingsData.csv to SelectedStateRankingsData.csv

In [ ]:
import pandas as pd

In [ ]:
first_dataset = pd.read_csv('Dataset_for_Final_Project.csv')
second_dataset = pd.read_csv('SelectedStateRankingsData.csv')

In [ ]:
first_dataset.head()

,Name,Average retail price (cents/kWh),Net summer capacity (MW),Net generation (MWh),Total retail sales (MWh)
0,Alabama,10.18,28911,142733330,85585166
1,Alaska,20.02,2774,6595818,5969339
2,Arizona,10.73,27596,108604620,81219990
3,Arkansas,9.10,14832,61100068,48663142
4,California,19.65,81184,197165106,247249865

In [ ]:
second_dataset.head()

,State,"Production, U.S. Share","Production, Rank","Consumption per Capita, Million Btu","Consumption per Capita, Rank","Expenditures per Capita, Dollars","Expenditures per Capita, Rank"
0,WY,6.1,3,874,3,6703,1
1,AK,1.4,13,874,2,6429,2
2,ND,4.5,7,804,4,6223,3
3,LA,4.0,8,903,1,5210,4
4,SD,0.3,37,447,8,4187,5

In [ ]:
first_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Name                              51 non-null     object
 1   Average retail price (cents/kWh)  51 non-null     float64
 2   Net summer capacity (MW)          51 non-null     int64
 3   Net generation (MWh)              51 non-null     int64
 4   Total retail sales (MWh)          51 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 2.1+ KB

In [ ]:
second_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 7 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   State                                51 non-null     object
 1   Production, U.S. Share               51 non-null     float64
 2   Production, Rank                     51 non-null     int64
 3   Consumption per Capita, Million Btu  51 non-null     int64
 4   Consumption per Capita, Rank         51 non-null     int64
 5   Expenditures per Capita, Dollars     51 non-null     int64
 6   Expenditures per Capita, Rank        51 non-null     int64
dtypes: float64(1), int64(5), object(1)
memory usage: 2.9+ KB

In [ ]:
first_dataset[['Average retail price (cents/kWh)', 'Total retail sales (MWh)']].describe()

       Average retail price (cents/kWh)  Total retail sales (MWh)
count                         51.000000              5.100000e+01
mean                          11.676078              7.462499e+07
std                            4.241324              7.555503e+07
min                            8.170000              5.412696e+06
25%                            9.125000              2.533968e+07
50%                           10.140000              5.635121e+07
75%                           12.145000              9.522024e+07
max                           30.310000              4.356279e+08

In [ ]:
second_dataset[['Production, U.S. Share', 'Consumption per Capita, Million Btu']].describe()

       Production, U.S. Share  Consumption per Capita, Million Btu
count               51.000000                             51.00000
mean                 1.868627                            329.54902
std                  3.778915                            178.59690
min                  0.000000                            160.00000
25%                  0.250000                            221.50000
50%                  0.700000                            279.00000
75%                  1.350000                            365.00000
max                 24.400000                            903.00000